@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


:root {

    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* dark theme colors */
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-1: hsl(237, 14%, 26%);

    /* light theme color */
    --Lt-Very-Light-Gray: hsl(0, 0%, 98%);
    --Lt-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Lt-Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Lt-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Lt-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-repeat: no-repeat;

    background-color: var(--Lt-Very-Light-Gray);
    background-image: url(../images/bg-desktop-light.jpg);
}

.dark-body{
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/bg-desktop-dark.jpg);
}

header {
    width: 380px;
    height: 35px;
    margin: 80px auto 40px auto;
    padding: 5px 8px;
    position: relative;
    font-family: 'Josefin Sans';
    color: white;
}

.mode-icons {
    position: absolute;
    top: 8px;
    right: 8px;
}

.hidden{
    display: none;
}

form {
    position: relative;
    display: flex;
    margin: auto;
    width: 379px;
    padding: 2px 3px 2px 18px;
    border-radius: 5px;

    background-color: var(--Lt-Very-Light-Gray);
}

.dark-form{
    background-color: var(--Very-Dark-Desaturated-Blue);
}

.light-text-input {
    width: 100%;
    height: 35px;
    margin: 5px;
    border: transparent;
    padding-left: 8px;

    background-color: var(--Lt-Very-Light-Gray);
}

/* input[type="checkbox"] {
    background-color: red
} */

input:checked{
    background-color: red;
}

input:checked + label {
    text-decoration: line-through;
}

.dark-input{
    background: var(--Very-Dark-Desaturated-Blue);
}

.light-text-input::placeholder{
    color: var(--Lt-Very-Dark-Grayish-Blue);
    font-family: 'Josefin Sans';
}
.light-text-input:focus{
    color: var(--Lt-Very-Dark-Grayish-Blue);
    font-family: 'Josefin Sans';
}
.dark-input::placeholder{
    color: var(--Light-Grayish-Blue);
}
.dark-input:focus{
    color: var(--Light-Grayish-Blue);
}

form img, ul div img {
    display: block;
    height: 60%;
    width: 70%;
    align-self: center;
    border-radius: 50%;
    padding: 2px 1px;
    margin: 2px auto;
    display: none;
}

form img {
    display: none;
}

.div {
    border: 1px solid var(--Very-Dark-Grayish-Blue-1);
    width: 18px;
    height: 16px;
    border-radius: 50%;
    align-self: center;
    margin: 5px;
}

.todo-list {
    position: relative;
    list-style-type: none;
    
}

.todo-item {
    display: flex;
    padding: 7px 18px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    align-items: center;

    color: var(--Lt-Very-Dark-Grayish-Blue);
    border-bottom: 1px solid var(--Lt-Very-Light-Grayish-Blue);
}

.dark-todo-item{
    color: var(--Light-Grayish-Blue);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-1);
}

li .div {
    width: 15px;
    height: 15px;
}

li:hover {
    cursor: pointer;
}

li span:nth-child(2) {
    margin: auto 10px;
}

.delete {
    position: absolute;
    right: 10px;
    width: 15px;
}

.delete:hover {
    width: 18px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    width: 365px;
    padding: 10px 15px 10px 20px;
    font-size: 11px;
    font-family: 'Josefin Sans';

    color: var(--Lt-Dark-Grayish-Blue);
}

.dark-call-to-action{
        color: var(--Very-Dark-Grayish-Blue);
}


.call-to-action ul {
    display: inherit;
    list-style-type: none;
}

.dark-anchor{
    text-decoration: none;
    margin: auto 5px;
    color: var(--Dark-Grayish-Blue);
}

.light-anchor{
    text-decoration: none;
    margin: auto 5px;
    color: var(--Lt-Dark-Grayish-Blue);
}

.dark-anchor:hover {
    color: var(--Light-Grayish-Blue-hover);
    font-weight: 700;
}
.light-anchor:hover {
    color: var(--Lt-Very-Dark-Grayish-Blue);
    font-weight: 700;
}

.wrapper {
    box-shadow: 0px 7px 15px 1px;
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
    border-radius: 5px;

    background-color: var(--Lt-Very-Light-Gray);
}

.dark-wrapper {
    background: var(--Very-Dark-Desaturated-Blue);
}

main>div:last-child {
    width: 500px;
    text-align: center;
    margin: 20px auto;
    font-size: 12px;
    font-family: 'Josefin Sans';
}

main>div:last-child a {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
}

.hidden{
    display: none !important;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    body{
        background-attachment: fixed;
        background-size: contain;

        background-image: url(../images/bg-mobile-light.jpg); 
    }

    /* ############## */
    /* This class has not been implimented */
    .dark-body-sm{
        background-image: url(images/bg-mobile-dark.jpg);
    }
    
    main{
        min-width: 40%;
        max-width: 80%;
        margin: auto;
    }

    header{
        margin: 30px auto;
        max-width: 80%;
        padding: 3px 5px;
    }

    header img {
        right: 3px;
    }
}